<%= form_for(@alumno, :html => {:multipart => true}) do |f| %>
  <% if @alumno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alumno.errors.count, "error") %> 
        prohibited this alumno from being saved:</h2>
      <ul>
      <% @alumno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <div class="field">
                <%= f.label :nombre, 'Nombre(s)' %><br>
                <%= f.text_field :nombre, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :apellido_paterno %><br>
                <%= f.text_field :apellido_paterno, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :apellido_materno %><br>
                <%= f.text_field :apellido_materno, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :curp, 'CURP' %><br>
                <%= f.text_field :curp, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :grado_grupo_id %><br>
                <%= f.select :grado_grupo_id, GradoGrupo.all.collect { | x | [x.grado + " " + x.grupo, x.id]}, {}, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :ciclo_escolar_id %><br>
                <%= f.select :ciclo_escolar_id, [["-- Seleccionar --", '']] + CicloEscolar.all.collect { | x | [x.nombre, x.id]}, {}, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :telefono %><br>
                <%= f.text_field :telefono, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :celular %><br>
                <%= f.text_field :celular, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :turno_id %><br>
                <%= f.select :turno_id, Turno.all.collect { | x | [x.nombre, x.id]}, {}, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="field">
                <%= f.label :fecha_nacimiento %><br>
                <%= f.date_select :fecha_nacimiento, :start_year => 1990, 
                    :end_year => Date.today.year,  :html => { :class => '' } %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :lugar_nacimiento %><br>
                <%= f.text_area :lugar_nacimiento, :class => 'form-control', :rows => '6' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :domicilio %><br>
                <%= f.text_area :domicilio, :class => 'form-control', :rows => '6' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3>
        Escuela procedencia
      </h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-8">
              <div class="field">
                <%= f.label :escuela_procedencia, 'Nombre de la escuela' %><br>
                <%= f.text_field :escuela_procedencia, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="field">
                <%= f.label :promedio, 'Promedio general' %><br>
                <%= f.text_field :promedio, :class => 'form-control' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3>
        Antecedentes medicos
      </h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <div class="field">
                <%= f.label :antecedentes_medicos %><br>
                <%= f.text_area :antecedentes_medicos, :class => 'form-control', :rows => '8' %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="field">
                <%= f.label :toma_medicamento, 'Medicamentos' %><br>
                <div class="checkbox">
                <label>
                <%= f.check_box :toma_medicamento %> Alumno toma medicamento
                </label>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="field">
                <%= f.label :estado_salud_id, 'Estado de salud' %><br>
                <%= f.select :estado_salud_id, 
                  EstadoSalud.all.collect { | x | [x.nombre, x.id]}, {}, :class => 'form-control' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3>
        Más detalles del alumno
      </h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="field">
                <%= f.label :nota %><br>
                <%= f.text_area :nota, :class => 'form-control', :rows => '8' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <div class="actions">
          <%= f.submit 'Guadar cambios', :class => 'btn btn-success btn-block' %>
          <%= link_to 'Regresar', alumnos_path, :class => 'back btn btn-block' %>
        </div>
      </div>
      <div class="form-group">
        <label>Fotografía</label>
        <%= image_tag @alumno.fotografia ? "alumnos/#{@alumno.fotografia}" : "unknown_user.png", :class => 'img-responsive img-thumbnail'%>
      </div>
      <div class="form-group">
        <%= file_field_tag "file", :class => 'form-control' %>
      </div>
      <% if @alumno.id %>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">
              <%= link_to ' Agrega hermano', new_alumno_hermano_path(:alumno_id => @alumno.id), :class => 'ion-plus-round' %>
            </div>
            <div class="">
              <%= link_to ' Agrega tutor', new_tutor_path(:alumno_id => @alumno.id), :class => 'ion-plus-round' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
<% end %>
