<div class="page-header subnav">
	<div class="pull-right">
    <div class="btn-group">
      <%= link_to ' Regresar a Alumnos ', alumnos_path, :class => 'btn ion-ios-undo' %> 
    </div>
  </div>
  <h3>Actualizar grado y grupo de alumnos</h3>
</div>
<div class="row">
	<div class="col-md-8">
		<table class="table table-bordered">
			<thead>
				<th>
					Nombre de alumno
				</th>
				<th>
					Grado y grupo
				</th>
				<th>
					Turno
				</th>
				<th>
					Ciclo escolar
				</th>
			</thead>
			<tbody>
				<% @alumnos.each do |alumno| %>
				<tr>
					<td><%= alumno.nombre_completo%></td>
					<td>
					<% if alumno.grado_grupo %>
						<%= alumno.grado_grupo.grado %>
						<%= alumno.grado_grupo.grupo %>
					<% else %>
						Sin registro
					<% end %>
					</td>
					<td>
						<% if alumno.turno %>
							<%= alumno.turno.nombre %>
						<% end %>
					</td>
					<td>
						<% if alumno.ciclo_escolar %>
						<%= alumno.ciclo_escolar.nombre %>
						<% end %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<% if @alumnos.empty? %>
			No se encontraron datos
		<% end %>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
	      	<div class="panel-heading">
	        	Grado, grupo, turno y ciclo escolar
	      	</div>
	      	<div class="panel-body">
	      	<form method="get">
	          <div class="form-group">
	          	<select name="grado_grupo" class="form-control">
				    <% GradoGrupo.all.each do |grado_grupo| %>
				        <option <%=  (params[:grado_grupo].to_i == grado_grupo.id.to_i ) ? 'selected' : ''  %> value="<%= grado_grupo.id %>">
				        	<%= grado_grupo.grado %>
				        	<%= grado_grupo.grupo %>
				        </option>
				    <% end %>
				</select>
	          </div>

	          <div class="form-group">
		          	<select name="turno" class="form-control">
					    <% Turno.all.each do |turno| %>
					        <option <%=  (params[:turno].to_i == turno.id.to_i ) ? 'selected' : ''  %> value="<%= turno.id %>">
					        	<%= turno.nombre %>
					        </option>
					    <% end %>
					</select>
		          </div>
		          <div class="form-group">
		          	<select name="ciclo_escolar" class="form-control">
					    <% CicloEscolar.order('id desc').all.each do |ciclo_escolar| %>
					        <option <%=  (params[:ciclo_escolar].to_i == ciclo_escolar.id.to_i ) ? 'selected' : ''  %> value="<%= ciclo_escolar.id %>">
					        	<%= ciclo_escolar.nombre %>
					        </option>
					    <% end %>
					</select>
		          </div>
	          
	          <div>
	            <button class="btn btn-success btn-block">Buscar</button>
	          </div>
	        </form>

	      	</div>
	    </div>
	    <div class="panel panel-default">
	    	<form method="get">
		    	<div class="panel-heading">
		    		Actualización
		    	</div>
		    	<div class="panel-body">
		    		<div class="form-group">
		    		<label>Actualizar a :</label>
		    		<input class="hidden" name="grado_grupo" value="<%= params['grado_grupo'] %>">
		    		<input class="hidden" name="turno" value="<%= params['turno'] %>">
		    		<input class="hidden" name="ciclo_escolar" value="<%= params['ciclo_escolar'] %>">
		    		<%= params['update_grado_grupo'] %>
		          	<select name="update_grado_grupo" class="form-control">
					    <% GradoGrupo.all.each do |grado_grupo| %>
					        <option <%=  (params[:update_grado_grupo].to_i == grado_grupo.id.to_i ) ? 'selected' : ''  %> value="<%= grado_grupo.id %>">
					        	<%= grado_grupo.grado %>
					        	<%= grado_grupo.grupo %>
					        </option>
					    <% end %>
					</select>
		          </div>
					<button class="btn btn-success btn-block">Actualizar</button>
		          </div>
	        </form>
	    </div>

	</div>
</div>


