<div class="page-header subnav">
  <div class="pull-right">
    <div class="btn-group">
      <%= link_to 'Nuevo', new_alumno_path, :class => 'btn btn-success icon-plus-sign icon-white' %>
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Más acciones <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-left">
        <li><a href="<%= alumno_comportamientos_path %>"><i class="pull-right icon-eye-open"></i> Comportamientos</a></li>
        <li><a href="<%= alumno_hermanos_path %>"><i class="pull-right icon-download"></i> Hermanos</a></li>
        <li><a href="<%= tutors_path %>"><i class="pull-right icon-download"></i> Tutores</a></li>
        <li><a href="/alumnos/alumnos_by_group_grado"><i class="pull-right"></i> Buscar alumnos por grupo y grado</a></li>
        <li>
          <a href="/alumnos/increase_by_grupo_grado">
          <i class="pull-right"></i> Actualizar grado y grupo de alumnos
          </a>
        </li>
        <li>
          <a href="/alumnos/increase_by_ciclo_escolar">
          <i class="pull-right"></i> Actualizar ciclo escolar de alumnos
          </a>
        </li>
      </ul>
    </div>
  </div>
  <h3>Alumnos</h3>
</div>
  <%= will_paginate @alumnos %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th width="100px">Matricula</th>
      <th>Nombre completo</th>
      <th>Grado grupo</th>
      <th width="40px"></th>
    </tr>
  </thead>
  <tbody>
    <% @alumnos.each do |alumno| %>
    <tr class="show-data" value="" href="<%= alumno_path(alumno) %>">
        <td><%= alumno.matricula %></td>
        <td><%= alumno.nombre_completo %></td>
        <td>
          <% if alumno.grado_grupo %>
            <%= alumno.grado_grupo.grado %>
            <%= alumno.grado_grupo.grupo %>
          <% else %>
            No disponible
          <% end %>
        </td>
        <td >
          <div class="">
          <%= link_to '', edit_alumno_path(alumno), :class => 'btn-icon btn ion-edit' %>
          
            <%= form_tag alumno_path(alumno), :class => 'form-delete-data', :method => :delete do %>
              <button class="delete-data btn-icon btn ion-trash-a">
              </button>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @alumnos.empty? %>
  Aún no hay datos registrados
<% else %>

<% end %>

  <%= will_paginate @alumnos %>