<div class="page-header subnav">
  <h3>Detalles de alumno</h3>
</div>

<div class="row">
  <div class="col-md-9">
    <div role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#alumno-detalles" aria-controls="alumno-detalles" role="tab" data-toggle="tab">Alumno</a>
        </li>
        <li role="presentation">
          <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Antecedentes medicos</a>
        </li>
        <li role="presentation">
          <a href="#hermanos-alumno" aria-controls="hermanos-alumno" role="tab" data-toggle="tab">Hermanos de alumno</a>
        </li>
        <li role="presentation">
          <a href="#tutores-alumno" aria-controls="tutores-alumno" role="tab" data-toggle="tab">Tutores de alumno</a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="alumno-detalles"><br />
          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td width="200px"><strong>Matricula:</strong></td>
                    <td><%= @alumno.matricula %></td>
                  </tr>
                  <tr>
                    <td><strong>Nombre completo:</strong></td>
                    <td><%= @alumno.nombre_completo %></td>
                  </tr>
                  <tr>
                    <td><strong>Edad:</strong></td>
                    <td><%= get_age(@alumno.fecha_nacimiento) %></td>
                  </tr>
                  <tr>
                    <td><strong>Fecha nacimiento:</strong></td>
                    <td>
                      <%= @alumno.fecha_nacimiento == '' ? '---' : @alumno.fecha_nacimiento.strftime('%d / %m / %Y') %>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>CURP:</strong></td>
                    <td><%= @alumno.curp %></td>
                  </tr>
                  <tr>
                    <td><strong>Grado grupo:</strong></td>
                    <td>
                      <% if @alumno.grado_grupo %>
                        <%= @alumno.grado_grupo.grado %><%= @alumno.grado_grupo.grupo  %>
                      <% else %>
                        No disponible
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Turno:</strong></td>
                    <td>
                      <% if @alumno.turno %>
                        <%= @alumno.turno.nombre %>
                      <% else %>
                        No disponible
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Ciclo escolar</strong></td>
                    <td>
                      <%= (@alumno.ciclo_escolar) ? @alumno.ciclo_escolar.nombre : 'No disponible' %>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Telefono:</strong></td>
                    <td><%= @alumno.telefono.empty? ? '---' : @alumno.telefono %></td>
                  </tr>
                  <tr>
                    <td><strong>Celular:</strong></td>
                    <td><%= @alumno.celular.empty? ? '---' : @alumno.celular %></td>
                  </tr>
                  <tr>
                    <td><strong>Lugar nacimiento:</strong></td>
                    <td><%= @alumno.lugar_nacimiento.empty? ? '---' : @alumno.lugar_nacimiento  %></td>
                  </tr>
                  <tr>
                    <td><strong>Domicilio:</strong></td>
                    <td><%= @alumno.domicilio.empty? ? '---' : @alumno.domicilio %></td>
                  </tr>
                </tbody>
              </table>
              <h4>
                Ciclos escolares
              </h4>
              <div class="panel panel-default">
                <div class="panel-body">

                  <% if @alumno.alumno_ciclo.empty? %>
                    No hay ciclos escolares agregados
                  <% end %>

                  <% @alumno.alumno_ciclo.each do |ciclo| %>
                    <% if ciclo.ciclo_escolar %>
                      <%= ciclo.ciclo_escolar.nombre %>
                      <%= form_tag alumno_ciclo_path(ciclo), :class => 'form-delete-data', :method => :delete do %>
                        <button class="delete-data btn-icon btn ion-trash-a">
                          Remover registro 
                        </button>
                      <% end %>
                    <% else %>
                      No esta disponible | 
                        <%= form_tag alumno_ciclo_path(ciclo), :class => 'form-delete-data', :method => :delete do %>
                        <button class="delete-data btn btn-danger"> Remover registro </button>
                      <% end %>
                    <% end %>
                    <hr />
                  <% end %>
                </div>
              </div>
              <h4>
                Escuela procedencia
              </h4>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td width="180px"><strong>Escuela procedencia:</strong></td>
                    <td><%= @alumno.escuela_procedencia.empty? ? '---' : @alumno.escuela_procedencia %></td>
                    <td width="100px"><strong>Promedio:</strong></td>
                    <td><%= @alumno.promedio == nil ? '---' : @alumno.promedio %></td>
                  </tr>
                </tbody>
              </table><br />
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
          <br />
          <h4>
            Antecedentes medicos
          </h4>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td width="180px"><strong>Toma medicamento:</strong></td>
                <td><%= @alumno.toma_medicamento ? ('Si') : ('No') %></td>
                <td><strong>Alumno estado salud:</strong></td>
                <td><%= @alumno.estado_salud ? @alumno.estado_salud.nombre : 'No disponible' %></td>
              </tr>
              <tr>
                <td><strong>Antecedentes medicos:</strong></td>
                <td colspan="3"><%= @alumno.antecedentes_medicos.empty? ? "---" : @alumno.antecedentes_medicos %></td>
              </tr>
            </tbody>
          </table>
          <h4>Más detalles del alumno</h4>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td width="180px"><strong>Notas:</strong></td>
                <td><%= @alumno.nota %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="hermanos-alumno">
          <br />
          <div class="page-header subnav">
            <div class="pull-right">
              <div class="btn-group">
                <%= link_to ' Agregar nuevo hermano ', new_alumno_hermano_path(:alumno_id => @alumno.id), :class => 'ion-plus-round pull-right' %>
              </div>
            </div>
            <h4>Hermanos de alumno</h4>
          </div>
          <div class="panel panel-default">
            <div class="panel-body">
              <% if @hermanos.empty? %>
                No tiene hermanos registrados
              <% end %>
              <% @hermanos.each do |hermano| %>
              <div>
              <% if hermano.hermano %>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <div class="form-group">
                      <%= image_tag hermano.hermano.fotografia ? "alumnos/#{hermano.hermano.fotografia}" : "unknown_user.png", 
                        :class => 'img-responsive img-thumbnail'%>
                      </div>
                      <div class="btn-group">
                      <% if hermano.hermano %>
                        <%= link_to 'Editar relación', edit_alumno_hermano_path(hermano, :alumno_id => hermano.hermano.id), :class => 'btn btn-block' %>
                          
                        <%= form_tag alumno_hermano_path(hermano), :class => 'form-delete-data', :method => :delete do %>
                        <button class="delete-data btn-icon btn btn-block"> Remover relación</button>
                        <% end %>
                        <%= link_to 'Detalles de hermano', hermano.hermano, :class => 'btn btn-block' %>
                      <% else %>
                        No disponible
                      <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <strong>Nombre:</strong>
                      <%= hermano.hermano.nombre_completo.capitalize %>
                    </div>
                    <div class="form-group">
                      <strong>Matricula:</strong>
                      <%= hermano.hermano.matricula %>
                    </div>
                     <div class="form-group">
                      <strong>Grado y grupo:</strong>
                      <% if hermano.hermano.grado_grupo %>
                        <%= hermano.hermano.grado_grupo.grado  %>
                        <%= hermano.hermano.grado_grupo.grupo  %>
                      <% else %>
                        No disponible
                      <% end %>
                    </div>
                    
                  </div>
                </div>
                <% else %>
                <!--ELIMINAR RELACION REGISTRO-->
                  No disponible | <%= link_to 'Eliminar registro', hermano, method: :delete%>
                <% end %>
                </div><br />
              <% end %>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tutores-alumno">
          <br />
          <div class="page-header subnav">
            <div class="pull-right">
              <div class="btn-group">
              <%= link_to ' Relacionar alumno con tutor ', new_alumno_tutor_path(:alumno_id => @alumno.id), :class => 'ion-plus-round btn' %> 
               <%= link_to ' Agregar nuevo tutor ', new_tutor_path(), :class => 'ion-plus-round btn' %>
               </div>
            </div>
            <h4>Tutores</h4>
          </div>
          <div class="panel panel-default">
            <div class="panel-body">
              <% if @alumno.alumno_tutor.empty? %>
                No hay tutores agregados
              <% end %>
              <% @alumno.alumno_tutor.each do |alumno_tutor| %>
                <% if alumno_tutor.tutor != nil %>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <%= image_tag alumno_tutor.tutor.fotografia ? "tutores/#{alumno_tutor.tutor.fotografia}" : "unknown_user.png", :class => 'img-responsive img-thumbnail'%>
                    </div>
                    <div class="">
                      <%= link_to 'Editar', edit_alumno_tutor_path(alumno_tutor, :alumno_id => @alumno.id), :class => 'btn btn-block' %>
                      <%= form_tag alumno_tutor_path(alumno_tutor), :class => 'form-delete-data', :method => :delete do %>
                        <button class="delete-data btn-icon btn btn-block">Remover
                        </button>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div>
                      <table class="table table-bordered">
                        <tr>
                          <td><strong>Nombre completo:</strong></td><td><%= alumno_tutor.tutor.nombre_completo %></td>
                        </tr>
                        <tr>
                          <td><strong>Parentesco:</strong></td>
                          <td>
                            <% if alumno_tutor.tutor %>
                              <% if alumno_tutor.tutor.parentesco %>
                                <%= alumno_tutor.tutor.parentesco.nombre %>
                              <% else %>
                                No disponible
                              <% end %>
                            <% end %>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <strong>Ocupacion:</strong>
                          </td>
                          <td>
                            <%= alumno_tutor.tutor.ocupacion == nil ? '---' : alumno_tutor.tutor.ocupacion.nombre %>
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Horario laboral:</strong></td>
                          <td>
                            <%= alumno_tutor.tutor.horario_inicio.strftime('%H:%M:%S') %> a <%= alumno_tutor.tutor.horario_finaliza.strftime('%H:%M:%S') %>
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Telefono:</strong></td><td><%= alumno_tutor.tutor.telefono == '' ? '---' : alumno_tutor.tutor.telefono %></td>
                        </tr>
                        <tr>
                          <td><strong>Celular:</strong></td><td><%= alumno_tutor.tutor.celular == '' ? '---' : alumno_tutor.tutor.celular %></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div><br />
                <% else %>
                  <div class="well">
                  Se removió un tutor | 
                  <%= link_to 'Remover relación', alumno_tutor_path(alumno_tutor), method: :delete %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <%= image_tag @alumno.fotografia ? "alumnos/#{@alumno.fotografia}" : "unknown_user.png", :class => 'img-responsive img-thumbnail'%>
    </div>
    <%= link_to 'Editar', edit_alumno_path(@alumno), :class => 'btn btn-block' %>
    <%= link_to 'Regresar', alumnos_path, :class => 'back btn btn-block' %> 
  </div>
</div>