<div class="panel panel-default">
  <div class="panel-heading">
    Buscar alumno
  </div>
  <div class="panel-body">
    <form id="form-search-alumno-comportamiento" method="GET" action="/alumno_comportamientos/search_alumno">
      <div class="row">
        <div class="col-md-6">
          <label>Matricula</label>
          <div>
            <input type="text" name="matricula" placeholder="" class="form-control" />
          </div>
        </div>
        <div class="col-md-6">
          <label>Apellido paterno</label>
          <div class="form-group">
            <input type="text" name="apellido_paterno" placeholder="Lopez" class="form-control" />
          </div>
        </div>
        <div class="col-md-12">
          <input type="submit" value="Buscar" class="btn btn-primary" />
        </div>
      </div>
    </form>
  </div>
</div>

<div id="content-table-search-alumnos">
  <h3>Resultado de la búsqueda</h3>
  <table class="table table-bordered" id="table-search-alumnos">
    <thead>
      <th width="130px">Fotografía</th>
      <th>Matricula</th>
      <th>Nombre completo</th>
      <th></th>
    </thead>
    <tbody></tbody>
  </table>
  <br />
</div>

<%= form_for(@alumno_comportamiento, :html => { :id => "form_comportamiento_alumno" , :multipart => true}) do |f| %>
  <% if @alumno_comportamiento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alumno_comportamiento.errors.count, "error") %> prohibited this alumno_comportamiento from being saved:
      </h2>
      <ul>
      <% @alumno_comportamiento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel-default">
    <div class="panel-heading">Datos de alumno</div>
    <div class="panel-body">
      <div id="data-section">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-8">  
              <div class="field">
                  <label>Nombre de alumno</label> 
                  <i class="ion-information-circled" data-toggle="tooltip" data-placement="left" title="Para agregar un alumno, es necesario utilizar la sección 'Buscar alumno'"></i>
                  <% if @alumno_comportamiento.alumno %>
                    <input readonly="readonly" type="text" 
                    name="alumno_nombre_completo" 
                    id="input_alumno_nombre_completo" 
                    class="form-control"
                    value="<%= @alumno_comportamiento.alumno.nombre + ' ' +@alumno_comportamiento.alumno.apellido_paterno + ' ' + @alumno_comportamiento.alumno.apellido_materno %>" />
                  <% else %>
                    <input readonly="readonly" type="text" 
                    name="alumno_nombre_completo" 
                    id="input_alumno_nombre_completo" 
                    class="form-control"
                    value="" />
                  <% end %>
                  <%= f.hidden_field :alumno_id, :id => 'input_alumno_id' %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="field">
                  <%= f.label :comportamiento_id %><br>
                  <%= f.select :comportamiento_id, Comportamiento.all.collect { | x | [x.nombre, x.id]}, {}, :class => 'form-control' %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="field">
                  <%= f.label :fecha %><br>
                  <%= f.date_select :fecha,:start_year => 2010, :end_year => Date.today.year,  :html => { :class => "form-control" } %>
                </div>
              </div>
              <div class="col-md-12">
                <div class="field">
                  <%= f.label :nota %><br>
                  <%= f.text_area :nota, :class => 'form-control', :rows => '8' %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <%= f.label :fotografia, 'Fotografía evidencia' %>
            <div class="form-group">
              <%= image_tag @alumno_comportamiento.fotografia ? "reportes_comportamientos/#{@alumno_comportamiento.fotografia}" : "photo-not-available.gif", :class => 'img-responsive img-thumbnail'%>
            </div>
            <div class="form-group">
              <%= file_field_tag "file", :class => 'form-control' %>
            </div>
            <div class="actions">
              <%= f.submit 'Guardar cambios', :class => 'btn btn-success' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
