<div class="page-header subnav">
  	<div class="pull-right">
    	<%= link_to 'Regresar', alumno_comportamientos_path, :class => 'btn back' %>
  	</div>
  	<h3>Editar reporte</h3>
</div>

<%= render 'form' %>
