<div class="page-header subnav">
  <div class="pull-right">
    <div class="btn-group">
      <%= link_to 'Nuevo', new_alumno_comportamiento_path, :class => 'btn btn-success icon-plus-sign icon-white' %>
      <%= link_to ' Regresar a Alumnos ', alumnos_path, :class => 'btn ion-ios-undo' %> 
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Comportamientos <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="<%= comportamientos_path %>"><i class="pull-right icon-eye-open"></i> Listado comportamientos</a></li>
        <li><a href="<%= new_comportamiento_path %>"><i class="pull-right icon-download"></i> Agregar comportamiento</a></li>
      </ul>
    </div>
  </div>
  <h3>Comportamiento de alumnos</h3>
</div>
  <%= will_paginate @alumno_comportamientos %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Alumno</th>
      <th>Comportamiento</th>
      <th>Fecha</th>
      <th width="50px"></th>
    </tr>
  </thead>
  <tbody>
    <% @alumno_comportamientos.each do |alumno_comportamiento| %>
      <tr class="show-data" value="" href="<%= alumno_comportamiento_path(alumno_comportamiento) %>">
        <td><%= alumno_comportamiento.alumno == nil ? 'No disponible' : alumno_comportamiento.alumno.nombre_completo.capitalize %></td>
        <td><%= alumno_comportamiento.comportamiento == nil ? 'No disponible' : alumno_comportamiento.comportamiento.nombre %></td>
        <td><%= alumno_comportamiento.fecha == '' ? '---' : alumno_comportamiento.fecha %></td>
        <td>
          <div class="btn-group">
          <%= link_to '', edit_alumno_comportamiento_path(alumno_comportamiento), :class => 'btn-icon btn ion-edit' %>
          
            <%= form_tag alumno_comportamiento_path(alumno_comportamiento), :class => 'form-delete-data', :method => :delete do %>
            <buton class="delete-data btn-icon btn ion-trash-a"></buton>
            <% end %>
          
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @alumno_comportamientos.empty? %>
  Aún no hay datos registrados
<% else %>
<% end %>
  <%= will_paginate @alumno_comportamientos %>