<div class="page-header subnav">
  <div class="pull-right">
    <div class="btn-group">
      <%= link_to 'Editar', edit_alumno_comportamiento_path(@alumno_comportamiento), :class => 'btn' %>
      <%= link_to 'Regresar', alumno_comportamientos_path, :class => 'back btn' %>
    </div>
  </div>
  <h3>Detalles de Reporte</h3>
</div>

<div class="row">
  <div class="col-md-7">
    <% if @alumno_comportamiento.alumno %>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td width="200px">
            <strong>Alumno:</strong>
          </td>
          <td>
            <%= @alumno_comportamiento.alumno.nombre_completo %>
          </td>
        </tr>
        <tr>
          <td width="200px">
            <strong>Turno:</strong>
          </td>
          <td>
            <% if @alumno_comportamiento.alumno.turno %>
              <%= @alumno_comportamiento.alumno.turno.nombre %>
            <% else %>
              No disponible o eliminado
            <% end %>
          </td>
        </tr>
        <tr>
          <td width="200px">
            <strong>Grado y grupo:</strong>
          </td>
          <td>
            <% if @alumno_comportamiento.alumno.grado_grupo %>
              <%= @alumno_comportamiento.alumno.grado_grupo.grado %>
              <%= @alumno_comportamiento.alumno.grado_grupo.grupo %>
            <% else %>
              No disponible o eliminado
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <% else %>
      Alumno no disponible o registro eliminado
    <% end %>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td width="200px"><strong>Comportamiento:</strong></td>
          <td>
            <%= @alumno_comportamiento.comportamiento ? @alumno_comportamiento.comportamiento.nombre : '---' %>
          </td>
        </tr>
        <tr>
          <td><strong>Código comportamiento:</strong></td>
          <td>
            <%= @alumno_comportamiento.comportamiento ? @alumno_comportamiento.comportamiento.codigo : '---' %></td>
        </tr>
        <tr>
          <td><strong>Fecha:</strong></td>
          <td><%= @alumno_comportamiento.fecha %></td>
        </tr>
        <tr>
          <td><strong>Nota:</strong></td>
          <td><%= @alumno_comportamiento.nota %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      <label>Imagen o fotografía adjunta</label>
      <%= image_tag @alumno_comportamiento.fotografia ? "reportes_comportamientos/#{@alumno_comportamiento.fotografia}" : "photo-not-available.gif", :class => 'img-responsive img-thumbnail'%>
    </div>
  </div>
</div>

