<%= form_for(@docente) do |f| %>
  <% if @docente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@docente.errors.count, "error") %> prohibited this docente from being saved:</h2>
      <ul>
      <% @docente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <div class="field">
                <%= f.label :nombre, 'Nombre(s)' %><br>
                <%= f.text_field :nombre, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :apellido_paterno %><br>
                <%= f.text_field :apellido_paterno, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :apellido_materno %><br>
                <%= f.text_field :apellido_materno, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :fecha_nacimiento %><br>
                <%= f.date_select :fecha_nacimiento, :start_year => 1900, :end_year => Date.today.year,  :html => { :class => '' } %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="field">
                <%= f.label :telefono %><br>
                <%= f.text_field :telefono, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :celular %><br>
                <%= f.text_field :celular, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :lugar_nacimiento %><br>
                <%= f.text_area :lugar_nacimiento, :class => 'form-control'%>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :domicilio %><br>
                <%= f.text_area :domicilio, :class => 'form-control'%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.submit 'Guardar cambios', :class => 'btn btn-block btn-success' %>
        <%= link_to 'Regresar', docentes_path, :class => 'back btn btn-block' %>
      </div>
      <div class="form-group">
          <label>Fotografía</label>
          <%= image_tag @docente.fotografia ? "alumnos/#{@docente.fotografia}" : "unknown_user.png", :class => 'img-responsive img-thumbnail'%>
        </div>
        <div class="form-group">
          <%= file_field_tag "file", :class => 'form-control' %>
        </div>
    </div>
  </div>
  
<% end %>
