<div class="page-header subnav">
  <div class="pull-right">
    <div class="btn-group">
      <%= link_to 'Nuevo', new_docente_path, :class => 'btn btn-success icon-plus-sign icon-white' %>
    </div>
  </div>
  <h3>Docentes</h3>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Celular</th>
      <th width="50px"></th>
    </tr>
  </thead>

  <tbody>
    <% @docentes.each do |docente| %>
      <tr class="show-data" value="" href="<%= docente_path(docente) %>">
        <td><%= docente.nombre_completo %></td>
        <td><%= docente.telefono %></td>
        <td><%= docente.celular %></td>
        <td>
          <div class="btn-group">
          <%= link_to '', edit_docente_path(docente), :class => 'btn-icon btn ion-edit' %>
          
            <%= form_tag docente_path(docente), :class => 'form-delete-data', :method => :delete do %>
            <button class="delete-data btn-icon btn ion-trash-a">
            </button>
            <% end %>
          
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @docentes.empty? %>
  Aún no hay datos registrados
<% else %>
  <%= will_paginate @alumnos %>
<% end %>