<div class="page-header subnav">
  <div class="pull-right">
    <div class="btn-group">
      <%= link_to 'Editar', edit_docente_path(@docente), :class => 'btn' %>
      <%= link_to 'Regresar', docentes_path, :class => 'btn back' %>
    </div>
  </div>
  <h3>Detalles de docente</h3>
</div>

<div class="row">
  <div class="col-md-9">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td width="200px"><strong>Nombre completo:</strong></td>
          <td><%= @docente.nombre_completo %></td>
        </tr>
        <tr>
          <td><strong>Teléfono:</strong></td>
          <td><%= @docente.telefono %></td>
        </tr>
        <tr>
          <td><strong>Teléfono celular:</strong></td>
          <td><%= @docente.celular %></td>
        </tr>
        <tr>
          <td><strong>Fecha de nacimiento:</strong></td>
          <td><%= get_age(@docente.fecha_nacimiento) %></td>
        </tr>
        <tr>
          <td><strong>Lugar nacimiento:</strong></td>
          <td><%= @docente.lugar_nacimiento %></td>
        </tr>
        <tr>
          <td><strong>Domicio:</strong></td>
          <td><%= @docente.domicilio %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <div class="form-group">
      <%= image_tag @docente.fotografia ? "docentes/#{@docente.fotografia}" : "unknown_user.png", 
        :class => 'img-responsive img-thumbnail'%>
      </div>
    </div>
  </div>
</div>