<%= form_for(@tutor, :html => {:multipart => true}) do |f| %>
  <% if @tutor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tutor.errors.count, "error") %> 
        prohibited this tutor from being saved:</h2>
      <ul>
      <% @tutor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <!--<%= f.hidden_field :alumno_id, :value => params['alumno_id'] %>-->
            <div class="col-md-6">
              <div class="field">
                <%= f.label :nombre %><br>
                <%= f.text_field :nombre, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :apellido_paterno %><br>
                <%= f.text_field :apellido_paterno, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :apellido_materno %><br>
                <%= f.text_field :apellido_materno, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :parentesco %><br>
                <%= f.select :parentesco_id, 
                  Parentesco.all.collect { | x | [x.nombre, x.id]}, {}, :class => 'form-control' %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="field">
                <%= f.label :sexo, 'Genero' %><br>
                <%= f.select :sexo, [["Hombre", 1], ["Mujer", 2]], {}, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :escolaridad_id %><br>
                <%= f.select :escolaridad_id, 
                  Escolaridad.all.collect { | x | [x.nombre, x.id]}, {}, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :ocupacion_id %><br>
                <%= f.select :ocupacion_id, 
                  Ocupacion.all.collect { | x | [x.nombre, x.id]}, {}, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :fecha_nacimiento %><br>
                <%= f.date_select :fecha_nacimiento,:start_year => 1990, 
                    :end_year => Date.today.year,  :html => { :class => 'form-control' } %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="field">
                <%= f.label :telefono %><br>
                <%= f.text_field :telefono, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :celular %><br>
                <%= f.text_field :celular, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-8">
              <div class="field">
                <label>Horario de labores</label>
                <%= f.label :horario_inicio, :class => 'hidden' %><br>
                <%= f.time_select :horario_inicio, {},
                  { :class => 'form-control form-control-select form-initial-display' } %>
                <label> a </label>
                <%= f.label :horario_finaliza, :class => 'hidden' %>
                <%= f.time_select :horario_finaliza,{} , 
                  { :class => 'form-control form-control-select form-initial-display' } %>
              </div>
              <br />
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :lugar_nacimiento %><br>
                <%= f.text_area :lugar_nacimiento, :class => 'form-control', :rows => '5' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :domicilio %><br>
                <%= f.text_area :domicilio, :class => 'form-control', :rows => '5' %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="field">
                <%= f.label :nota %><br>
                <%= f.text_area :nota, :class => 'form-control', :rows => '8' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
     <div class="field">
        <%= f.submit 'Guardar cambios', :class => 'btn btn-success btn-block' %>
        <%= link_to 'Regresar', :back, :class => 'back btn btn-block' %>
      </div>
      <div class="form-group">
        <%= image_tag @tutor.fotografia ? "tutores/#{@tutor.fotografia}" : "unknown_user.png", :class => 'img-responsive img-thumbnail'%>
      </div>
      <div class="form-group">
        <%= file_field_tag "file", :class => 'form-control' %>
      </div>
    </div>
  </div>

<% end %>
