<div class="row">
	<div class="col-md-8">
		<h3>Editar tutor
		<% if @tutor.alumno%>
			<%= link_to 'Regresar', alumno_path(@alumno_tutor.alumno_id), :class => 'back' %>
		<% end %>
		</h3>
	</div>
</div>
<%= render 'form' %>
