<div class="page-header subnav">
  <div class="pull-right">
    <div class="btn-group">
      <%= link_to 'Nuevo', new_tutor_path, :class => 'btn btn-success icon-plus-sign icon-white' %> 
      <%= link_to ' Regresar a alumnos ', alumnos_path, :class => 'btn ion-ios-undo' %>
    </div>
  </div>
  <h3>Tutores</h3>
</div>
 <%= will_paginate @tutors %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre del tutor</th>
      <th>Parentesco</th>
      <th>Telefono</th>
      <th>Celular</th>
      <th width="50px"></th>
    </tr>
  </thead>
  <tbody>
    <% @tutors.each do |tutor| %>
      <tr class="show-data" value="" href="<%= tutor_path(tutor) %>">
        <td><%= tutor.nombre_completo %></td>
        <td><%= tutor.parentesco ? tutor.parentesco.nombre : 'No disponible' %></td>
        <td><%= tutor.telefono %></td>
        <td><%= tutor.celular %></td>
        <td>
            <%= link_to '', edit_tutor_path(tutor), :class => 'btn-icon btn ion-edit' %>
            <%= form_tag tutor_path(tutor), :class => 'form-delete-data', :method => :delete do %>
            <button class="delete-data btn-icon btn ion-trash-a"> </button>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @tutors.empty? %>
  Aún no hay datos registrados
<% else %>
  <%= will_paginate @tutors %>
<% end %>