<div class="page-header subnav">
  <div class="pull-right">
      <div class="btn-group">
          <%= link_to 'Editar', edit_tutor_path(@tutor), :class => 'btn' %> 
          <%= link_to 'Regresar', tutors_path, :class => 'back btn' %>
      </div>
  </div>
  <h3>Detalles de tutor</h3>
</div>

<div class="row">
  <div class="col-md-9">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td width="200px"><strong>Nombre de tutor:</strong></td>
          <td><%= @tutor.nombre_completo %></td>
        </tr>
        <tr>
          <td><strong>Lugar nacimiento:</strong></td>
          <td><%= @tutor.lugar_nacimiento == '' ? '---' : @tutor.lugar_nacimiento %></td>
        </tr>
        <tr>
          <td><strong>Fecha nacimiento:</strong></td>
          <td><%= @tutor.fecha_nacimiento.strftime('%d / %m / %Y')  %></td>
        </tr>
        <tr>
          <td><strong>Edad:</strong></td>
          <td><%= get_age(@tutor.fecha_nacimiento)  %></td>
        </tr>
        <tr>
          <td><strong>Parentesco:</strong></td>
          <td> <%= @tutor.parentesco ? @tutor.parentesco.nombre : 'No disponible' %></td>
        </tr>
        <tr>
          <td><strong>Sexo:</strong></td>
          <td><%= @tutor.sexo == 1 ? 'Hombre' : 'Mujer' %></td>
        </tr>
        <tr>
          <td><strong>Escolaridad:</strong></td>
          <td><%= @tutor.escolaridad ? @tutor.escolaridad.nombre : 'No disponible' %></td>
        </tr>
        <tr>
          <td><strong>Ocupacion:</strong></td>
          <td><%= @tutor.ocupacion ? @tutor.ocupacion.nombre : 'No disponible' %></td>
        </tr>
        <tr>
          <td><strong>Horario de labores:</strong></td>
          <td><%= @tutor.horario_inicio.strftime('%H:%M:%S') %> <strong>a</strong> <%= @tutor.horario_finaliza.strftime('%H:%M:%S') %></td>
        </tr>
        <tr>
          <td><strong>Domicilio:</strong></td>
          <td><%= @tutor.domicilio == '' ? '---' : @tutor.domicilio %></td>
        </tr>
        <tr>
          <td><strong>Telefono:</strong></td>
          <td><%= @tutor.telefono == '' ? '---' : @tutor.telefono %></td>
        </tr>
        <tr>
          <td> <strong>Celular:</strong></td>
          <td><%= @tutor.celular == '' ? '---' : @tutor.celular %></td>
        </tr>
        <tr>
          <td><strong>Nota:</strong></td>
          <td><%= @tutor.nota == '' ? '---' : @tutor.nota %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <%= image_tag @tutor.fotografia ? "tutores/#{@tutor.fotografia}" : "unknown_user.png", :class => 'img-responsive img-thumbnail'%>
    </div>
  </div>
</div>
