<div class="page-header subnav">
  <div class="pull-right">
    <div class="btn-group">
      <%= link_to 'Nuevo', new_comportamiento_path, :class => 'btn btn-success icon-plus-sign icon-white' %>
      <%= link_to ' Regresar a Reportes ', alumno_comportamientos_path, :class => 'btn ion-ios-undo' %>      
    </div>
  </div>
  <h3>Comportamientos</h3>
</div>
  <%= will_paginate @comportamientos %>
<table class="table table table-bordered">
  <thead>
    <tr> 
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th width="50px"></th>
    </tr>
  </thead>
  <tbody>
    <% @comportamientos.each do |comportamiento| %>
      <tr class="show-data" value="" href="<%= comportamiento_path(comportamiento) %>">
        <td><%= comportamiento.codigo %></td>
        <td><%= comportamiento.nombre %></td>
        <td><%= comportamiento.descripcion %></td>
        <td>
          <div class="btn-group">
            <%= link_to '', edit_comportamiento_path(comportamiento), :class => 'btn-icon btn ion-edit' %>
            
              <%= form_tag comportamiento_path(comportamiento), :class => 'form-delete-data', :method => :delete do %>
              <buton class="delete-data btn-icon btn ion-trash-a"></buton>
              <% end %>
            
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @comportamientos.empty? %>
  Aún no hay datos registrados
<% else %>
  <%= will_paginate @comportamientos %>
<% end %>