<div class="page-header subnav">
	<div class="pull-right">
	    <div class="btn-group">
	      	<%= link_to 'Editar', edit_comportamiento_path(@comportamiento), :class => 'btn' %> 
	      	<%= link_to 'Regresar', comportamientos_path, :class => 'back btn' %>
	    </div>
	</div>
  	<h3>Detalles de comportamiento</h3>
</div>

<table class="table table-bordered">
	<tbody>
		<tr>
			<td width="200px"><strong>Nombre:</strong></td>
			<td><%= @comportamiento.nombre %></td>
		</tr>
		<tr>
			<td><strong>Descripcion:</strong></td>
			<td><%= @comportamiento.descripcion %></td>
		</tr>
	</tbody>
</table>


