<%= form_for(@ciclo_escolar) do |f| %>
  <% if @ciclo_escolar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ciclo_escolar.errors.count, "error") %> prohibited this ciclo_escolar from being saved:</h2>
      <ul>
      <% @ciclo_escolar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="field">
          <%= f.label :nombre %><br>
          <%= f.text_field :nombre, :class => 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :descripcion %><br>
          <%= f.text_area :descripcion, :class => 'form-control', :rows => '8' %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="actions form-group">
      <%= f.submit 'Guardar cambios', :class => 'btn btn-success' %>
      <%= link_to 'Regresar', ciclo_escolars_path, :class => 'back btn' %>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= f.label :inicio_fecha , :class => 'hidden'%> Fecha inicio
      </div>
      <div class="panel-body">
        <div class="">
          <%= f.date_select :inicio_fecha %>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= f.label :finaliza_fecha , :class => 'hidden'%> Fecha finaliza
      </div>
      <div class="panel-body">
        <div class="">
          <%= f.date_select :finaliza_fecha %>
        </div>
      </div>
    </div>
    
  </div>
</div>
<% end %>
