<div class="page-header subnav">
  <div class="pull-right">
    <div class="btn-group">
      <%= link_to 'Nuevo', new_ciclo_escolar_path, :class => 'btn btn-success icon-plus-sign icon-white' %>
    </div>
  </div>
  <h3>Ciclos escolares</h3>
</div>
  <%= will_paginate @ciclo_escolars %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th width="50px"></th>
    </tr>
  </thead>
  <tbody>
    <% @ciclo_escolars.each do |ciclo_escolar| %>
      <tr class="show-data" value="" href="<%= ciclo_escolar_path(ciclo_escolar) %>">
        <td><%= ciclo_escolar.nombre %></td>
        <td><%= ciclo_escolar.descripcion %></td>
        <td>
          <div class="btn-group">
            <%= link_to '', edit_ciclo_escolar_path(ciclo_escolar), :class => 'btn-icon btn ion-edit' %>
            
              <%= form_tag ciclo_escolar_path(ciclo_escolar), :class => 'form-delete-data', :method => :delete do %>
              <button class="delete-data btn-icon btn ion-trash-a">
              </button>
              <% end %>
            
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @ciclo_escolars.empty? %>
  Aún no hay datos registrados
<% else %>
  <%= will_paginate @ciclo_escolars %>
<% end %>