<div class="page-header subnav">
  	<div class="pull-right">
    	<div class="btn-group">
      		<%= link_to 'Editar', edit_ciclo_escolar_path(@ciclo_escolar), :class => 'btn' %>
      		<%= link_to 'Regresar', ciclo_escolars_path, :class => 'back btn' %>
    	</div>
  	</div>
	<h3>Detalles de ciclo escolar</h3>
</div>

<div class="row">
	<div class="col-md-12">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td width="150px"><strong>Nombre:</strong></td>
					<td><%= @ciclo_escolar.nombre %></td>
				</tr>
				<tr>
					<td><strong>Descripcion:</strong></td>
					<td><%= @ciclo_escolar.descripcion %></td>
				</tr>
				<tr>
					<td><strong>Fecha inicia:</strong></td>
					<td><%= @ciclo_escolar.inicio_fecha %></td>
				</tr>
				<tr>
					<td><strong>Fecha finaliza:</strong></td>
					<td><%= @ciclo_escolar.finaliza_fecha %></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


