<div class="page-header subnav">
  <div class="pull-right">
    <div class="btn-group">
      <%= link_to 'Nuevo', new_user_path, :class => 'btn btn-success icon-plus-sign icon-white' %>
    </div>
  </div>
  <h3>Usuarios</h3>
</div>
 <%= will_paginate @users %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th width="50px"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="show-data" value="" href="<%= user_path(user) %>">
        <td><%= user.first_name %> <%= user.last_name %></td>
        <td><%= user.email %></td>
        <td>
          <div class="btn-group">
            <a href="<%= edit_user_path(user) %>" class="btn-icon btn ion-edit"></a>
            
              <%= form_tag user_path(user), :class => 'form-delete-data', :method => :delete do %>
              <button class="delete-data btn-icon btn ion-trash-a">
              </button>
              <% end %>
            
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @users.empty? %>
  Aún no hay datos registrados
<% else %>
  <%= will_paginate @users %>
<% end %>