<div class="page-header subnav">
  <h3>Perfil</h3>
</div>

<%= form_for(@user, :html => {:multipart => true, :id => 'form-profile' }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> 
        prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-headin"></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <div class="field">
                <%= f.label :first_name, 'Nombre(s)' %><br>
                <%= f.text_field :first_name, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :last_name, 'Apellido(s)' %><br>
                <%= f.text_field :last_name, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :email, 'Correo electrónico' %>
                <i class="ion-information-circled" data-toggle="tooltip" data-placement="left" title="El correo electrónico sera usado para iniciar sesión en el sistema"></i><br>
                <%= f.text_field :email, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :password, 'Nueva contraseña' %><br />
                <%= f.password_field :password, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <%= f.label :password_confirmation, 'Confirmar contraseña' %><br />
                <%= f.password_field :password_confirmation, :class => 'form-control' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <div class="actions" align="center">
          <%= f.submit 'Guadar cambios', :class => 'btn btn-success btn-block' %>
          <%= link_to 'Regresar', users_path, :class => 'btn back btn-block' %>
        </div>
      </div>
    </div>
  </div>
  
<% end %>

