<div class="page-header subnav">
  	<div class="pull-right">
      <div class="btn-group">
      	<% if current_user.admin %>
        <%= link_to 'Editar', edit_user_path(@user), :class => 'btn' %>
        <%= link_to 'Regresar', users_path, :class => 'btn back' %>
        <% end %>
      </div>
  	</div>
  	<h3>Detalles de usuario</h3>
</div>

<div class="row">
	<div class="col-md-12">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td width="200px"><strong>Nombre completo:</strong></td>
					<td>
						<%= @user.first_name %>
						<%= @user.last_name %>
					</td>
				</tr>
				<tr>
					<td><strong>Correo electrónico:</strong></td>
					<td><%= @user.email %></td>
				</tr>
				<tr>
					<td><strong>Rol de administrador:</strong></td>
					<td>
						<% if @user.admin %> Si <% else %> No <% end %>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>