<div class="page-header subnav">
	<h3>Panel de control</h3>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Total de registros por modulo
	</div>
	<div class="panel-body">
		<div class="row" align="center">
			<div class="col-md-2">
				<h2><%= @alumno_total %></h2>
				<small>Alumnos</small>
			</div>
			<div class="col-md-2">
				<h2><%= @grados_grupos_total %></h2>
				<small>Grados y grupos</small>
			</div>
			<div class="col-md-2">
				<h2><%= @reportes_total %></h2>
				<small>Reportes</small>
			</div>
			<div class="col-md-2">
				<h2><%= @usuarios_total %></h2>
				<small>Usuarios</small>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h3>Ultimos alumnos registrados <%= link_to 'Ver todos', alumnos_path, :class => 'link_see_all' %></h3>

		<div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Matricula</th>
                        <th>Nombre</th>
                        <th>Grado y grupo</th>
                        <th>Turno</th>
                    </tr>
                </thead>
                <tbody>
                	<% @alumnos.each do |alumno| %>
						<tr class="show-data" model="alumnos" id="<%= alumno.id %>">
						    <td width="150px"><%= alumno.matricula %></td>
							<td width="500px">
								<%= alumno.nombre_completo.capitalize %>
						    </td>
						    <td width="150px">
					        <% if alumno.grado_grupo %>
					            <%= alumno.grado_grupo.grado  %>
					            <%= alumno.grado_grupo.grupo  %>
					          <% else %>
					            No disponible
					          <% end %>
					        </td>
					        <td>
					        	<%= alumno.turno ? alumno.turno.nombre : '---' %>
					        </td>
	                    </tr>
                    <% end %>
				</tbody>
            </table>
        </div>
        <% if @alumnos.empty? %>
		  Aún no hay datos registrados
		<% end %>
	</div>		
</div>