<%= form_for(@estado_salud) do |f| %>
  <% if @estado_salud.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estado_salud.errors.count, "error") %> prohibited this estado_salud from being saved:</h2>
      <ul>
      <% @estado_salud.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="field">
            <%= f.label :nombre %><br>
            <%= f.text_field :nombre, :class => 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :descripcion %><br>
            <%= f.text_area :descripcion, :class => 'form-control', :rows => '8' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
       <div class="actions">
        <%= f.submit 'Guardar cambios', :class => 'btn btn-success btn-block' %>
         <%= link_to 'Regresar', estado_saluds_path, :class => 'back btn btn-block' %>
      </div>
    </div>
  </div>
  
<% end %>
