<div class="page-header subnav">
  <div class="pull-right">
    <div class="btn-group">
        <%= link_to 'Nueva', new_estado_salud_path, :class => 'btn btn-success' %>
    </div>
  </div>
  <h3>Estados de Salud</h3>
</div>
  <%= will_paginate @estado_saluds %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th width="50px"></th>
    </tr>
  </thead>
  <tbody>
    <% @estado_saluds.each do |estado_salud| %>
      <tr>
        <td><%= estado_salud.nombre %></td>
        <td><%= estado_salud.descripcion %></td>
        <td>
          <div class="btn-group">
          <%= link_to '', edit_estado_salud_path(estado_salud), :class => 'btn-icon btn ion-edit' %>
          
            <%= form_tag estado_salud_path(estado_salud), :class => 'form-delete-data', :method => :delete do %>
            <button class="delete-data btn-icon btn ion-trash-a"></button>
            <% end %>
          
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @estado_saluds.empty? %>
  Aún no hay datos registrados
<% else %>
  <%= will_paginate @estado_saluds %>
<% end %>