<div class="page-header subnav">
	<div class="pull-right">
      	<div class="btn-group">
        	<%= link_to 'Editar', edit_estado_salud_path(@estado_salud), :class => 'btn'%>
        	<%= link_to 'Regresar', estado_saluds_path, :class => 'back btn' %>
      	</div>
    </div>
	<h3>Detalles de estado de salud</h3>
</div>

<table class="table table-bordered">
	<tbody>
		<tr>
			<td width="180px"><strong>Nombre:</strong></td>
			<td><%= @estado_salud.nombre %></td>
		</tr>
		<tr>
			<td><strong>Descripcion:</strong></td>
			<td><%= @estado_salud.descripcion %></td>
		</tr>
	</tbody>
</table>


