<%= form_for(@grado_grupo) do |f| %>
  <% if @grado_grupo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grado_grupo.errors.count, "error") %> prohibited this grado_grupo from being saved:</h2>
      <ul>
      <% @grado_grupo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="field">
            <%= f.label :grado %><br>
            <%= f.text_field :grado, :class => 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :grupo %><br>
            <%= f.text_field :grupo, :class => 'form-control'%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="actions">
          <%= f.submit 'Guardar cambios', :class => 'btn btn-success btn-block' %>
          <%= link_to 'Regresar', grado_grupos_path, :class => 'back btn btn-block' %>
        </div>
      </div>
    </div>
<% end %>
