<div class="page-header subnav">
  <div class="pull-right">
    <div class="btn-group">
      <%= link_to 'Nuevo', new_grado_grupo_path, :class => 'btn btn-success icon-plus-sign icon-white' %>
    </div>
  </div>
  <h3>Grados y grupos</h3>
</div>
<%= will_paginate @grado_grupos %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Grado</th>
      <th>Grupo</th>
      <th width="50px"></th>
    </tr>
  </thead>

  <tbody>
    <% @grado_grupos.each do |grado_grupo| %>
      <tr>
        <td><%= grado_grupo.grado %></td>
        <td><%= grado_grupo.grupo %></td>
        <td>
          <div class="btn-group">
          <%= link_to '', edit_grado_grupo_path(grado_grupo), :class => 'btn-icon btn ion-edit' %>
          
            <%= form_tag grado_grupo_path(grado_grupo), :class => 'form-delete-data', :method => :delete do %>
            <button class="delete-data btn-icon btn ion-trash-a">
            </button>
            <% end %>
          
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @grado_grupos.empty? %>
  Aún no hay datos registrados
<% else %>
<%= will_paginate @grado_grupos %>
<% end %>