<div class="page-header subnav">
	<div class="pull-right">
		<div class="btn-group">
			<%= link_to 'Editar', edit_grado_grupo_path(@grado_grupo), :class => 'btn' %>
			<%= link_to 'Regresar', grado_grupos_path, :class => 'back btn' %>
		</div>
	</div>
  	<h3>Detalles de grado y grupo</h3>
</div>

<div class="row">
	<div class="col-md-12">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td width="150px"><strong>Grado:</strong></td>
					<td><%= @grado_grupo.grado %></td>
				</tr>
				<tr>
					<td><strong>Descripcion:</strong></td>
					<td><%= @grado_grupo.grupo %></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
