<div class="page-header subnav">
    <div class="pull-right">
      <div class="btn-group">
        <%= link_to 'Nueva', new_escolaridad_path, :class => 'btn btn-success' %>
      </div>
    </div>
  <h3>Escolaridades</h3>
</div>
<%= will_paginate @escolaridads %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th width="50px"></th>
    </tr>
  </thead>

  <tbody>
    <% @escolaridads.each do |escolaridad| %>
      <tr class="show-data" value="" href="<%= escolaridad_path(escolaridad) %>">
        <td><%= escolaridad.nombre %></td>
        <td><%= escolaridad.descripcion %></td>
        <td>
          <div class="btn-group">
          <%= link_to '', edit_escolaridad_path(escolaridad), :class => 'btn-icon btn ion-edit' %>
          
            <%= form_tag escolaridad_path(escolaridad), :class => 'form-delete-data', :method => :delete do %>
            <button class="delete-data btn-icon btn ion-trash-a">
            </button>
            <% end %>
          
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @escolaridads.empty? %>
  Aún no hay datos registrados
<% else %>
<%= will_paginate @escolaridads %>
<% end %>