<div class="page-header subnav">
	<div class="pull-right">
      	<div class="btn-group">
        	<%= link_to 'Editar', edit_escolaridad_path(@escolaridad), :class => 'btn'%>
        	<%= link_to 'Regresar', escolaridads_path, :class => 'back btn' %>
      	</div>
    </div>
	<h3>Detalles de escolaridad</h3>
</div>

<table class="table table-bordered">
	<tbody>
		<tr>
			<td width="150px"><strong>Nombre:</strong></td>
			<td><%= @escolaridad.nombre %></td>
		</tr>
		<tr>
			<td><strong>Descripcion:</strong></td>
			<td><%= @escolaridad.descripcion %></td>
		</tr>
	</tbody>
</table>

