<div class="sign_in">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h2>Iniciar sesión</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field form-group">
          <%= f.label :email, 'Correo electronico' %><br />
          <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
        </div>

        <div class="field form-group">
          <%= f.label :password, 'Contraseña' %><br />
          <%= f.password_field :password, :class => 'form-control' %>
        </div>
        <!--<% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>-->
        <div class="actions">
          <%= f.submit "Iniciar", :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!--<%= render "devise/shared/links" %>-->