<div class="page-header subnav">
    <div class="pull-right">
      <div class="btn-group">
        <%= link_to 'Nueva', new_parentesco_path, :class => 'btn btn-success' %>
      </div>
    </div>
  <h3>Parentescos</h3>
</div>
<%= will_paginate @parentescos %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th width="50px"></th>
    </tr>
  </thead>
  <tbody>
    <% @parentescos.each do |parentesco| %>
      <tr class="show-data" value="" href="<%= parentesco_path(parentesco) %>">
        <td><%= parentesco.nombre %></td>
        <td><%= parentesco.descripcion %></td>
        <td>
          <div class="btn-group">
          <%= link_to '', edit_parentesco_path(parentesco), :class => 'btn-icon btn ion-edit' %>
          
            <%= form_tag parentesco_path(parentesco), :class => 'form-delete-data', :method => :delete do %>
            <button class="delete-data btn-icon btn ion-trash-a"></button>
            <% end %>
          
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @parentescos.empty? %>
  Aún no hay datos registrados
<% else %>
  <%= will_paginate @parentescos %>
<% end %>