<div class="page-header subnav">
	<div class="pull-right">
    	<div class="btn-group">
         	<%= link_to 'Editar', edit_parentesco_path(@parentesco), :class =>'btn' %>
        	<%= link_to 'Regresar', parentescos_path,  :class => 'back btn' %>
      	</div>
    </div>
 	<h3>Detalles de parentesco</h3>
</div>

<table class="table table-bordered">
	<tbody>
		<tr>
			<td width="150px"><strong>Nombre:</strong></td>
			<td><%= @parentesco.nombre %></td>
		</tr>
		<tr>
			<td><strong>Descripcion:</strong></td>
			<td><%= @parentesco.descripcion %></td>
		</tr>
	</tbody>
</table>