<div class="page-header subnav">
    <div class="pull-right">
      <div class="btn-group">
        <%= link_to 'Nueva', new_ocupacion_path, :class => 'btn btn-success' %>
      </div>
    </div>
  <h3>Ocupaciones</h3>
</div>
  <%= will_paginate @ocupacions %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th width="50px"></th>
    </tr>
  </thead>
  <tbody>
    <% @ocupacions.each do |ocupacion| %>
      <tr class="show-data" value="" href="<%= ocupacion_path(ocupacion) %>">
        <td><%= ocupacion.nombre %></td>
        <td><%= ocupacion.descripcion %></td>
        <td>
          <div class="btn-group">
          <%= link_to '', edit_ocupacion_path(ocupacion), :class => 'btn-icon btn ion-edit' %>
          
            <%= form_tag ocupacion_path(ocupacion), :class => 'form-delete-data', :method => :delete do %>
            <button class="delete-data btn-icon btn ion-trash-a"></button>
            <% end %>
          
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @ocupacions.empty? %>
  Aún no hay datos registrados
<% else %>
  <%= will_paginate @ocupacions %>
<% end %>