<div class="page-header subnav">
    <div class="pull-right">
      	<div class="btn-group">
     		<%= link_to 'Editar', edit_ocupacion_path(@ocupacion), :class => 'btn' %>
     		<%= link_to 'Regresar', ocupacions_path, :class => 'back btn' %>
      	</div>
    </div>
  	<h3>Detalles de ocupación</h3>
</div>

<table class="table table-bordered">
	<tbody>
		<tr>
			<td width="150px"><strong>Nombre:</strong></td>
			<td><%= @ocupacion.nombre %></td>
		</tr>
		<tr>
			<td><strong>Descripcion:</strong></td>
			<td><%= @ocupacion.descripcion %></td>
		</tr>
	</tbody>
</table>
