<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">Buscar alumno</div>
      <div class="panel-body">
          <form id="form-search-alumno-hermano" method="GET" action="/alumno_hermanos/search_alumno">
            <div class="row">
                <div class="col-md-6">
                  <label>Matricula</label>
                  <div><input type="text" name="matricula" placeholder="1500001" class="form-control" /></div>
                </div>
                <div class="col-md-6">
                  <label>Apellido paterno</label>
                  <div class="form-group"><input type="text" name="apellido_paterno" placeholder="Lopez" class="form-control" /></div>
                </div>
                <div class="col-md-12">
                  <input type="submit" value="Buscar" class="btn btn-primary" />
                </div>
            </div>
          </form>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        Datos del alumno
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label>Nombre:</label>
          <%= @alumno.nombre_completo.capitalize %>
        </div>
        <div class="form-group">
          <label>Grado y grupo:</label>
          <% if @alumno.grado_grupo %>
            <%= @alumno.grado_grupo.grado  %>
            <%= @alumno.grado_grupo.grupo  %>
          <% else %>
            No disponible
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="content-table-search-alumnos">
  <h3>Resultado de la búsqueda</h3>
  <table class="table table-bordered" id="table-search-alumnos">
    <thead>
      <th width="130px">Fotografía</th>
      <th>Matricula</th>
      <th>Nombre completo</th>
      <th></th>
    </thead>
    <tbody></tbody>
  </table><br />
</div>

<%= form_for(@alumno_hermano, :html => { :id => "form_comportamiento_alumno_hermano" }) do |f| %>
  <% if @alumno_hermano.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alumno_hermano.errors.count, "error") %> prohibited this alumno_hermano from being saved:</h2>
      <ul>
      <% @alumno_hermano.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3>Agregar hermano</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      Datos del hermano    
    </div>
    <div class="panel-body">
      <div id="data-section">
        <div class="row">
          <div class="col-md-8">
            <div class="field">
              <div class="form-group">
                <label>Nombre completo</label>
                <input readonly="readonly" type="text" name="alumno_nombre_completo" 
                id="input_alumno_nombre_completo" class="form-control"
                value="<%= @alumno_hermano.hermano ? @alumno_hermano.hermano.nombre_completo : '' %>" />
              </div>
              <div class="form-group">
                <label>Matricula</label>
                <input readonly="readonly" type="text" class="form-control" id="input_alumno_matricula" name="alumno_matricula"
                value="<%= @alumno_hermano.hermano ? @alumno_hermano.hermano.matricula : '' %>" />
              </div>
              <%= f.hidden_field :hermano_id, :id => 'input_alumno_hermano_id' %>
              <%= f.hidden_field :alumno_id, :value => @alumno.id %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="actions">
              <%= f.submit 'Guardar cambios', :class => 'btn btn-success btn-block' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
