<% @alumnos.each do |alumno| %>
<tr>
	<td align="center">
		<%= image_tag alumno.fotografia ? "alumnos/#{alumno.fotografia}" : "unknown_user.png",:class => 'img-responsive img-thumbnail', :width => '60px'%>
	</td>
	<td><%= alumno.matricula %></td>
	<td><%= alumno.nombre_completo %></td>
	<td width="180px">
		<a href="#data-section" id="select-search-alumno">
			Seleccionar
			<input type="hidden" id="alumno_id" value="<%= alumno.id %>">
			<input type="hidden" id="alumno_nombre_completo" value="<%= alumno.nombre_completo %>">
			<input type="hidden" id="alumno_matricula" value="<%= alumno.matricula %>">
		</a>
	</td>
</tr>
<% end %>