<div class="page-header subnav">
  <div class="pull-right">
    <div class="btn-group">
      <%= link_to ' Regresar a Alumnos ', alumnos_path, :class => 'btn ion-ios-undo' %>  
    </div>
  </div>
  <h3>Lista de hermanos y alumno</h3>
</div>
  <%= will_paginate @alumno_hermanos %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre completo de alumno</th>
      <th>Nombre completo de hermano</th>
      <th width="50px"></th>
    </tr>
  </thead>
  <tbody>
    <% @alumno_hermanos.each do |alumno_hermano| %>
      <tr>
        <td>
          <%= (alumno_hermano.alumno) ? alumno_hermano.alumno.nombre_completo : 'No disponible' %>
        </td>
        <td>
          <%= (alumno_hermano.hermano) ? alumno_hermano.hermano.nombre_completo : 'No disponible' %>
        </td>
        <td>
          <div class="btn-group">
          <% if alumno_hermano.alumno %>
            <%= link_to '', edit_alumno_hermano_path(alumno_hermano, :alumno_id => alumno_hermano.alumno.id), :class => 'btn-icon btn ion-edit'%>
          <% else %>
          <% end %>
          
            <%= form_tag alumno_hermano_path(alumno_hermano), :class => 'form-delete-data', :method => :delete do %>
            <button class="delete-data btn-icon btn ion-trash-a"></button>
            <% end %>
          
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @alumno_hermanos.empty? %>
  Aún no hay datos registrados
<% else %>
  <%= will_paginate @alumno_hermanos %>
<% end %>