<% if @alumno %>
	<div class="page-header subnav">
	  	<div class="pull-right">
	    	<div class="btn-group">
	      		<%= link_to 'Regresar', :back, :class => 'back btn' %>
	    	</div>
	  	</div>
	  	<h3>Relacionar alumno y hermano</h3>
	</div>
	<%= render 'form' %>
<% else %>
	No se encontro el alumno <%= link_to 'Ir a Alumnos', alumno_hermanos_path %>
<% end %>