<div class="page-header subnav">
	<% if @alumno_hermano.alumno and @alumno_hermano.hermano %>
	<div class="pull-right">
	    <div class="btn-group">
	      <%= link_to 'Editar', edit_alumno_hermano_path(@alumno_hermano, :alumno_id => @alumno_hermano.alumno.id), :class=> 'btn' %>
	      <%= link_to 'Regresar a detalles de alumno', @alumno_hermano.alumno, :class => 'btn' %>
	    </div>
  	</div>
  	<% else %>
		Ocurrio un error con los datos de alumno y hermano
	<% end %>
  	<h3>Detalles de alumno y hermano</h3>
</div>

<table class="table table-bordered">
	<thead><th colspan="3">Datos de alumno</th></thead>
	<tbody>
		<% if @alumno_hermano.alumno %>
		<tr>
			<td width="180px"><strong>Nombre completo:</strong></td>
			<td><%= @alumno_hermano.alumno.nombre_completo.capitalize %></td>
			<td rowspan="3" width="150px" align="center"><%= link_to 'Ver detalles', alumno_path(@alumno_hermano.alumno) %></td>
		</tr>
		<tr>
			<td width="180px"><strong>Matricula:</strong></td>
			<td><%= @alumno_hermano.alumno.matricula %></td>
		</tr>
		<tr>
			<td><strong>Grado y grupo</strong></td>
			<td>
				<% if @alumno_hermano.alumno.grado_grupo %>
	              <%= @alumno_hermano.alumno.grado_grupo.grado  %>
	              <%= @alumno_hermano.alumno.grado_grupo.grupo  %>
	            <% else %>
	              No disponible
	            <% end %>
			</td>
		</tr>
		<% else %>
			No se encuentra disponible los registros de alumno
		<% end %>
	</tbody>
</table>
<br />
<table class="table table-bordered">
	<thead>
		<th colspan="3">Datos de hermano</th>
	</thead>
	<tbody>
		<% if @alumno_hermano.hermano %>
		<tr>
			<td width="180px"><strong>Nombre completo:</strong></td>
			<td><%= @alumno_hermano.hermano.nombre_completo.capitalize %></td>
			<td rowspan="3" width="150px" align="center"><%= link_to 'Ver detalles', alumno_path(@alumno_hermano.hermano) %></td>
		</tr>
		<tr>
			<td width="180px"><strong>Matricula:</strong></td>
			<td><%= @alumno_hermano.hermano.matricula %></td>
		</tr>
		<tr>
			<td><strong>Grado y grupo</strong></td>
			<td>
				<% if @alumno_hermano.hermano.grado_grupo %>
                  <%= @alumno_hermano.hermano.grado_grupo.grado  %>
                  <%= @alumno_hermano.hermano.grado_grupo.grupo  %>
                <% else %>
          			No disponible
       			<% end %>
			</td>
		</tr>
		<% else %>
			No se encuentra disponible los registros de hermano
		<% end %>
	</tbody>
</table>