<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">Buscar tutor</div>
      <div class="panel-body">
        <form id="form-search-tutor" method="GET" action="/alumno_tutors/search_tutor">
          <div class="row">
            <div class="col-md-6">
              <label>Nombre</label>
              <div><input type="text" name="nombre" placeholder="Juan" class="form-control" /></div>
            </div>
            <div class="col-md-6">
              <label>Apellido</label>
              <div class="form-group">
                <input type="text" name="apellido_paterno" placeholder="Lopez" class="form-control" />
              </div>
            </div>
            <div class="col-md-12">
              <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
          </div>
        </form>
      </div>
    </div>
    
  </div>
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        Datos del alumno
      </div>
      <div class="panel-body">
        <% if @alumno %>
          <div class="">
            <label>Matricula:</label>
            <%= @alumno.matricula %>
          </div>
          <div class="">
            <label>Nombre:</label>
            <%= @alumno.nombre_completo %>
          </div>
          <div class="">
            <label>Grado y grupo:</label>
            <%= @alumno.grado_grupo ? @alumno.grado_grupo.grado + ' ' + @alumno.grado_grupo.grupo : 'No disponible' %>
          </div>
        <% else %>
          No se encontro datos del alumno
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="content-table-search-tutors">
  <h3>Resultado de la búsqueda</h3>
  <table class="table table-bordered" id="table-search-tutors">
    <thead>
      <th width="130px">Fotografía</th>
      <th>Nombre completo</th>
      <th></th>
    </thead>
    <tbody></tbody>
  </table>
  <br />
</div>

<%= form_for(@alumno_tutor, :html => { :id => "form-alumno-tutor-alumno" }) do |f| %>
  <% if @alumno_tutor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alumno_tutor.errors.count, "error") %> prohibited this alumno_tutor from being saved:</h2>
      <ul>
      <% @alumno_tutor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel panel-default" id="data-section">
    <div class="panel-heading">Datos del tutor</div>
    <div class="panel-body">  
      <div class="form-group">
        <label>Nombre completo</label>
        <input readonly="readonly" type="text" id="input_tutor_nombre_completo" class="form-control" name="nombre_completo"
        value="<%= @tutor.nombre_completo ? @tutor.nombre_completo : '' %>" />
      </div>
      <div class="form-group">
        <label>Fecha de nacimiento</label>
        <input readonly="readonly" type="text" id="input_tutor_fecha_nacimiento" class="form-control" name="fecha_nacimiento" value="<%= @tutor.fecha_nacimiento ? @tutor.fecha_nacimiento : '' %>" />
      </div>
      <div class="form-group">
        <label>Lugar de nacimiento</label>
        <input readonly="readonly" type="text" id="input_tutor_lugar_nacimiento" class="form-control"
        value="<%= @tutor.lugar_nacimiento ? @tutor.lugar_nacimiento : '' %>"  />
      </div>
    </div>
  </div>

  <div class="field hidden">
    <%= f.label :alumno_id %><br>
    <%= f.text_field :alumno_id, :value => params[:alumno_id] %>
  </div>
  <div class="field hidden">
    <%= f.label :tutor_id %><br>
    <%= f.text_field :tutor_id %>
  </div>
  <% if params['alumno_id'] %>
    <div class="actions">
      <%= f.submit 'Guardar cambios', :class => "btn btn-success" %>
    </div>
  <% end %><br />
<% end %>
