<% @tutors.each do |tutor| %>
<tr>
	<td align="center">
		<%= image_tag tutor.fotografia ? "tutores/#{tutor.fotografia}" : "unknown_user.png",:class => 'img-responsive img-thumbnail', :width => '60px'%>
	</td>
	<td><%= tutor.nombre_completo %></td>
	<td width="180px">
		<a href="#data-section" id="select-search-tutor">
		Seleccionar
		<input type="hidden" id="tutor_id" value="<%= tutor.id %>">
		<input type="hidden" id="tutor_nombre_completo" value="<%= tutor.nombre_completo %>">
		<input type="hidden" id="tutor_fecha_nacimiento" value="<%= tutor.fecha_nacimiento %>">
		<input type="hidden" id="tutor_lugar_nacimiento" value="<%= tutor.lugar_nacimiento %>">
		</a>
	</td>
</tr>
<% end %>