<p id="notice"><%= notice %></p>

<h1>Listing Alumno Tutors</h1>

<table>
  <thead>
    <tr>
      <th>Alumno</th>
      <th>Tutor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alumno_tutors.each do |alumno_tutor| %>
      <tr>
        <td><%= alumno_tutor.alumno %></td>
        <td><%= alumno_tutor.tutor %></td>
        <td><%= link_to 'Show', alumno_tutor %></td>
        <td><%= link_to 'Edit', edit_alumno_tutor_path(alumno_tutor) %></td>
        <td><%= link_to 'Destroy', alumno_tutor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alumno tutor', new_alumno_tutor_path %>
