<div class="page-header subnav">
  <div class="pull-right">
    <div class="btn-group">
      <%= link_to ' Regresar a alumno ', alumno_path(params[:alumno_id]), :class => 'btn ion-ios-undo' %>
    </div>
  </div>
  <h3>Relacionar alumno con tutor</h3>
</div>
<%= render 'form' %>
