<div class="page-header subnav">
  <div class="pull-right">
      <div class="btn-group">
      	 <%= link_to ' Relacionar otro tutor ', new_alumno_tutor_path(:alumno_id => @alumno_tutor.alumno.id), :class => 'ion-plus-round btn' %> 
        <%= link_to 'Ver detalles del alumno', alumno_path(@alumno_tutor.alumno), :class => 'btn' %>
        <%= link_to 'Ver detalles del tutor', tutor_path(@alumno_tutor.tutor), :class => 'btn' %>
      </div>
  </div>
  <h3>Detalles de alumno y tutor</h3>
</div>

<div class="row">
  <div class="col-md-9">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td width="200px"><strong>Nombre de alumno:</strong></td>
          <td><%= @alumno_tutor.alumno.nombre_completo %></td>
        </tr>
        <tr>
          <td width="200px"><strong>Nombre de tutor:</strong></td>
          <td><%= @alumno_tutor.tutor.nombre_completo %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>