// Place all the styles related to the Alumnos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-user-show strong{
	display: block;
	padding-bottom: 5px;
	padding-top: 10px;
}