$main_color: #477FBF; //169D99 778DA5 83D0B0
$success_color: #88C100;
$danger_color: #F54828;

body {
	color: #777;
	background-color: #f8f8f8;
	font-size: 14px;
	font-family: 'Arimo', sans-serif;
}

.dropdown-left {
	left: inherit;
	right: 0px;
}

#container {
	margin-top: 20px;
}

.container {
	width: 1280px;
}

.error {
	color: #F54828;
}

h1, h2, h3, h4, h5 {
	margin: 0px;
	margin-bottom: 10px;
}

h3, .h3 {
	font-size: 20px;
}

h3, h4 {
	color: $main_color;
}

p {
	margin: 0px;
}

a {
	font-size: 14px;
	cursor: pointer;
	color: $main_color;
}

hr {
	border-top: 1px solid $main_color;
}

label {
}

/******** TEXT *********/

.text-danger {
	color: $danger_color;
}

/******** PAGE HEADER *********/

page-header subnav > h1, h2, h3, h4, h5{
	margin-bottom: 15px;
}

/******* CLASSES *******/

.menu {
	margin-top: 14px;
	font-weight: bold;
}

.show {
	display: block;
}

.pull-right {
}

/******* NAV *******/

.navbar-default {
	background-color: #fff;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: $main_color;
}

.nav-tabs.nav-stacked > li > a {
	background: #fff;
}

.nav-stacked {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	border: 1px solid #ddd;
	border-bottom-color: #dddddd;
	background: #fff;
	border-bottom-color: #ccc;
}

.nav-stacked li a:hover {
	background: $main_color !important;
	color: #fff !important;
}

.nav-tabs.nav-stacked>li>a {
	border: 1px solid #ddd;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.nav-stacked > li + li {
	margin-top: 0px;
}

.nav-stacked li a {
	font-size: 14px;
	border-radius: 1px;
}

.navbar-inverse {
	background-color: $main_color;
	border-color: $main_color;
}

.navbar-inverse .navbar-brand {
	color: #ffffff;
	font-size: 16px;
}

.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:visited {
	color: #ffffff;
}

#navbar li a {
	font-size: 14px;
}

.nav > li > a {
}

.nav-sidebar li > a {
	font-size: 16px;
}

.nav-sidebar li > a  i {
	font-size: 18px;
}

.nav-sidebar > li > a {
	color: #383735;
	border-bottom: 1px solid #eee;
}

.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: #ffffff;
	color: #333333;
}

.nav-sidebar > .active > a,
.nav-sidebar > li > a:hover {
	background: #555555;
	color: #ffffff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	color: #main_color;
	background: #ffffff;
}


.navbar-right {
	margin-right: 0px;
}

/******* PAGE HEADER *******/

.page-header {
	margin: 7px 0 0px;
	border: 0px;
	padding-bottom: 0px;
}

.page-header h3 {
}

/******* BACK *******/

.back {
	font-size: 14px;
	color: $danger_color;
}

.back:hover, .back:focus {
	background: inherit;
}

/******* ICON ********/

.icon-nav:before {
	font-size: 16px;
}

.btn-icon {
	border: 1px solid;	
}

.btn-block + .btn-block {
	margin-top: 0px;
}

/******* FIELD *******/

.field {
	padding-bottom: 10px;
}

/******* TABLE ********/

.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
	padding: 8px;
}

.table {
	background: #fff;
	margin-bottom: 15px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	vertical-align: middle;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
	border: 1px solid #ddd;
}

.table thead th {
	font-weight: bold;
}

.table thead {
	font-weight: 100;
	color: #ffffff;
}

.table thead tr {
	color: #555
}

.table tr.show-data:hover {
	background: #eee;
	cursor:pointer;
}

/* CHECKBOX RADIO*/

.radio, .checkbox {
	margin: 0px;
}

/******* NOTICE *******/

#notice {
	background: #main_color;
	padding: 15px;
	color: #ffffff;
	font-size: 16px;
	margin-bottom: 15px;
}

/******* BTN ********/

.btn {
	padding: 4px 12px;
	border-radius: 2px;
	border: 1px solid #ddd;
	background-color: #fff;
	/*background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(top, #ffffff, #e6e6e6);*/
}

.btn-success {
	background: $main_color;
	color: #ffffff;
	border-color: $main_color;
}

.btn-success:focus, .btn-success:hover {
	background: $main_color;
	color: #ffffff;
	border-color: $main_color;
}

.btn-danger {
	background: $danger_color;
}

.btn-default {
	color: #555;
	border: 1px solid #bbb;
}

.btn-primary {
	background: #00B4CC;
}

.btn-warning {
	background-color: #f0ad4e;
	border-color: #eea236;
}

.btn-warning:hover, btn-warning:focus {
	background-color: #f0ad4e;
	border-color: #eea236;
}

/******* LINKS *******/

.link_see_all {
	font-size: 16px;
}

/******* FORMS *******/

.form-control {
	border: 1px solid #ddd;
	border-radius: 2px;
	height: auto;
	padding: 4px 12px;
}

.form-control-select {
	width: auto;

}

.form-initial-display {
	display: initial;
}

/******* PANEL *******/
.panel {
	border: 0px;
	margin-bottom: 10px;
	background-color: #fff;
}

.panel-default, table {
	border-color: #fff;
	border-radius: 2px;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	border: 1px solid #ddd;
	border-bottom-color: #bbb;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.panel-default > .panel-heading {
	color: #555;
	background-color: #ddd;
	border: 0px;
}

.panel-heading {
	border-bottom: 0px;
	border-radius: 0px;
}

.panel-heading {
	border-radius: 2px;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(top, #ffffff, #e6e6e6);
	/* background-repeat: repeat-x; */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	border: 1px solid #cccccc;
	border-bottom-color: #b3b3b3;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/******* IMAGE *******/

.img-thumbnail {
	border-radius: 2px;
	border: 1px solid #ddd;
}

/******* PAGINATE *******/

.pagination {
	font-size: 16px;
}

.pagination em, .pagination a {
	padding: 10px;
}

/******* ALERTS *******/

.alert {
	border-radius: 2px;
	margin-bottom: 15px;
}

.alert-success {
	color: #fff;
	background-color: $success_color;
	border-color: $success_color;
}

/*$main_color*/

/******* DROPDOWN *******/

.dropdown-menu > li > a:hover {
	background-color: $main_color;
	color: #fff;
}

.dropdown-menu {
	padding: 0px;
	margin: 0px;
}

.dropdown-menu > li > a {
	padding: 6px 20px;
}

.dropdown-menu .divider {
	margin:0px;
}