<%= form_for(@turno) do |f| %>
  <% if @turno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@turno.errors.count, "error") %> prohibited this turno from being saved:</h2>
      <ul>
      <% @turno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="field">
          <%= f.label :nombre %><br>
          <%= f.text_field :nombre,  :class => 'form-control' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <%= f.submit 'Guadar cambios', :class => 'btn btn-success btn-block' %>
      <%= link_to 'Regresar', turnos_path, :class => 'back btn btn-block' %>
    </div>
  </div>
<% end %>
