<div class="page-header subnav">
  <div class="pull-right">
    <div class="btn-group">
      <%= link_to 'Nuevo', new_turno_path, :class => 'btn btn-success icon-plus-sign icon-white' %>
    </div>
  </div>
  <h3>Turnos</h3>
</div>
  <%= will_paginate @turnos %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th width="50px"></th>
    </tr>
  </thead>
  <tbody>
    <% @turnos.each do |turno| %>
      <tr>
        <td><%= turno.nombre %></td>
        <td>
          <div class="btn-group">
          <%= link_to '', edit_turno_path(turno), :class => 'btn-icon btn ion-edit' %>
          
            <%= form_tag turno_path(turno), :class => 'form-delete-data', :method => :delete do %>
            <button class="delete-data btn-icon btn ion-trash-a">
            </button>
            <% end %>
          
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @turnos.empty? %>
  Aún no hay datos registrados
<% else %>
  <%= will_paginate @turnos %>
<% end %>
