<div class="page-header subnav">
  	<div class="pull-right">
    	<div class="btn-group">
      		<%= link_to 'Editar', edit_turno_path(@turno), :class => 'btn' %>
      		<%= link_to 'Regresar', turnos_path, :class => 'back btn' %>
    	</div>
  	</div>
	<h3>Detalles de turno</h3>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<strong>Name:</strong> <%= @turno.nombre %>
	</div>
</div>
