<!DOCTYPE html>
<html lang="en">
  	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="icon" type="image/png" href="/favicon.png" />

	    <link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
	    <title>Dashboard</title>
	    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
  	</head>
  	<body>
    <nav class="navbar navbar-default navbar-static-top">
      	<div class="container container-fluid">
        	<div class="navbar-header">
	          	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data	-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            	<span class="sr-only">Toggle navigation</span>
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
	          	</button>
          		<a class="navbar-brand" href="/">Escuela Secundaria Técnica No. 15</a>
        	</div>
        	<div id="navbar" class="navbar-collapse collapse">
          		<ul class="nav navbar-nav navbar-right">
          			<li>
          				<% if user_signed_in? %>
		            		<a>
		            			<strong>
		            				<%= current_user.first_name %>
		            				<%= current_user.last_name %>
		            			</strong>
		            		</a>
		            	<% end %>
          			</li>
          			<li class="dropdown">
		              	<a href="#" class="dropdown-toggle" data-toggle="dropdown" 
		              		role="button" aria-haspopup="true" aria-expanded="false">
		              		Configuración <span class="caret"></span>
		              	</a>
		              	<ul class="dropdown-menu">
			                <li><%= link_to " Perfil ", user_profile_path(), :class => '' %></li>
			                <!--<li><a href="#">Sistema</a></li>-->
			                <li role="separator" class="divider"></li>
			                <li> <%= link_to('Cerrar sesión', destroy_user_session_path, :method => :delete) %></li>
		              	</ul>
		            </li>
          		</ul>
	          	<form class="navbar-form navbar-right">
	          		<div class="input-group">
			          	<input type="text" name="search" value="<%= params['search'] %>" class="form-control" placeholder="Buscar..." />
			          	<span class="input-group-btn">
			            	<button type="submit" class="btn ion-search btn-success"></button>
			          	</span>
			        </div>
	          	</form>
        	</div>
      	</div>
    </nav>
    <div class="container" id="container">
	    <div class="row-fluid">
	    	<div class="row">
	    		<div class="col-md-2">
	    			<h5 class="menu">MENU</h5>
	    			<ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
				    	<li role="presentation" class="<%= active_option_nav('users') %>">
				      		<a href="<%= users_path %>" class="icon-nav ion-person-stalker"> Usuarios </a>
				      	</li>
				      	<li role="presentation" class="<%= active_option_nav('alumnos') %>">
				      		<a href="<%= alumnos_path %>" class="icon-nav ion-university"> Alumnos </a>
				      	</li>
				      	<!--<li role="presentation" class="<%= active_option_nav('docentes') %>">
				      		<a href="<%= docentes_path %>" class="icon-nav ion-ios-people"> Docentes</a>
				      	</li>-->
				      	<li role="presentation" class="<%= active_option_nav('grado_grupos') %>">
				      		<a href="<%= grado_grupos_path %>" class="icon-nav ion-grid"> Grados y grupos </a>
				      	</li>
				      	<li role="presentation" class="<%= active_option_nav('ciclo_escolars') %>">
				      		<a href="<%= ciclo_escolars_path %>" class="icon-nav ion-filing"> Ciclos escolares </a>
				     	</li>
				      	<li role="presentation" class="<%= active_option_nav('turnos') %>">
				      		<a href="<%= turnos_path %>" class="icon-nav ion-ios-browsers"> Turnos </a>
				      	</li>
				      	<li role="presentation" class="<%= active_option_nav('ocupacions') %>">
				      		<a href="<%= ocupacions_path %>" class="icon-nav ion-ios-bookmarks"> Ocupaciones</a>
				      	</li>
				      	<li role="presentation" class="<%= active_option_nav('escolaridads') %>">
				      		<a href="<%= escolaridads_path %>" class="icon-nav ion-ribbon-b"> Escolaridades</a>
				      	</li>
				      	<li role="presentation" class="<%= active_option_nav('parentescos') %>">
				      		<a href="<%= parentescos_path %>" class="icon-nav ion-android-people"> Parentescos</a>
				      	</li>
				      	<li role="presentation" class="<%= active_option_nav('estado_saluds') %>">
				      		<a href="<%= estado_saluds_path %>" class="icon-nav ion-heart"> Estados de salud </a>
				      	</li>
				    </ul>
				    <br />
				    <%= image_tag "secundaria_15_logotipo.gif", :class => 'img-responsive img-thumbnail'%>
	    		</div>

		        <div class="col-md-10">
		        	<% if notice %>
					  	<p class="alert alert-success">
					  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><%= notice %>
					  	</p>
					<% end %>
					<% if alert %>
					  	<p class="alert alert-danger">
					  		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
					  		<%= alert %>
					  	</p>
					<% end %>
		        	<%= yield %>
		        </div>
	      	</div>
	    </div>
    </div>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	</body>
</html>
